In [2]:
#Create DataFrame from excel,Sql,List,Map,Set,Tuple

In [3]:
import os
print(os.path)

<module 'ntpath' from 'C:\\Users\\pavan\\Contacts\\Anaconda\\lib\\ntpath.py'>

In [15]:
#Create df from Excel
import pandas as pd
df=pd.read_csv("C:\\Users\\pavan\\OneDrive\\Documents\\Harika Python Project and  data files\\App1.csv")
print(df['App'].tail()) # getting the dtype just for one column
df.dtypes # getting dtypes for all the columns on the df

9065                                      Chemin (fr)
9066                                    FR Calculator
9067                                 Sya9a Maroc - FR
9068                    The SCP Foundation DB fr nn5n
9069    iHoroscope - 2018 Daily Horoscope & Astrology
Name: App, dtype: object

App                object
Category           object
Rating            float64
Reviews             int64
Size              float64
Installs            int64
Type               object
Price             float64
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
ROWEXISTENCE        int64
dtype: object

In [18]:
#Filtering from df(removing the particular row from a column in a df )
df1=df[df["App"]==9065]
df1

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver, ROWEXISTENCE]
Index: []

In [19]:
# Creating df from SQl
#df=pd.read_sql(conn,sql)

In [22]:
## Create df from list
import pandas as pd
lst = ['Harika','Pavan','Shine','Twinkle','Rudra']
df_lst1=pd.DataFrame(lst)
df_lst1

         0
0   Harika
1    Pavan
2    Shine
3  Twinkle
4    Rudra

In [38]:
# Providing Columns & Indexes
df_lst1=pd.DataFrame(lst,columns=['Names'])
df_lst1

     Names
0   Harika
1    Pavan
2    Shine
3  Twinkle
4    Rudra

In [40]:
#Assigning Columns & Indexes
df_lst1=pd.DataFrame(lst,columns=['Names'],index=['x','y','z','A','B'])
df_lst1

     Names
x   Harika
y    Pavan
z    Shine
A  Twinkle
B    Rudra

In [50]:
# Creating a DF from 2 lists using Zip.
lst1=['Harika','Pavan','Shine','Twinkle','Rudra']
lst2=['L','XL','M','S','Baby']
lst3=['Gorgeous','Mental','Pretty','Cute','Adoreable']
l1_lst1=pd.DataFrame(list(zip(lst1,lst2,lst3)))
l1_lst1
l1_lst1=pd.DataFrame(list(zip(lst1,lst2,lst3)), columns=['Name','Size','Type']) # Assigning the Column names
l1_lst1

      Name  Size       Type
0   Harika     L   Gorgeous
1    Pavan    XL     Mental
2    Shine     M     Pretty
3  Twinkle     S       Cute
4    Rudra  Baby  Adoreable

In [51]:
ROLE = 'PAVAN'
print("Role: ",ROLE)

Role:  PAVAN